    html {
    box-sizing: border-box;
  font-family: 'Encode Sans Expanded', sans-serif !important;
       -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body{

  margin: 0 0 0 0;
  padding: 0 0 0 0;

}

img.w {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0.3;
  z-index: 1510;
  width: 36px;

}

label{
	font-weight: bold;
}

/* Title */

h1, .h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

h2, .h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3, .h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

h4, .h4 {
  font-size: 1rem;
  font-weight: bold;
}

h5, .h5 {
  font-size: 0.80rem;
  font-weight: bold;
}

h6, .h6 {
  font-size: 0.6rem;
  font-weight: bold;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.bg-light{
  background-color: #e7e9ea!important;
}

.aviso{
  position: fixed;
  min-height: 20px;
  min-width: 150px;
  left: 50%;
  margin-left: -75px;
  top: 90px;
  /*border-radius: 5px 5px 5px 5px;*/
  z-index: 999999;
  /*background-color: red;*/
}

.hand{
  cursor: pointer;
}
.page-link{
    color: #541971 !important;
}

.p-form{
  margin-bottom: 0 !important;
}

.pesquisa{
  position: absolute;
  z-index: 50
}
.card{
  border: 0px solid;
}



.btn:{
  border: 0px solid;
}

.btn-group button{
  outline:none;
}

.btn-group button:hover{
  outline:none !important;
}

.btn-group button:focus{
  outline:none !important;
}
 
.btn-group button:active {
  outline:none !important;
}

.cursor-pointer{
  cursor: pointer !important; 
}

::selection {
    color: #fff;
    text-shadow: none;
    background-color: #326a90;
}

.endPrincipal{
  font-weight: bold;
} 

/* Validação */
input.invalid {
  border: solid 2px;
    border-color: #dc3545!important;

}

textarea.invalid {
  border: solid 2px;
  border-color: #dc3545 !important;

}

select.invalid {
  border: solid 2px;
  border-color: #dc3545 !important;

}

.m-0{
  margin: 0px !important;
}

.p-0{
  padding: 0px !important;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-55 {
  width: 55% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}

.w-95 {
  width: 95% !important;
}

.bg-woohoo{
  background-color: #541971 !important;
}

.btn-woohoo {
  color: #fff;
  background-color: #541971;
  border-color: #541971;
}

.btn-woohoo:hover {
  color: #fff;
  background-color: #391c47;
  border-color: #391c47;
}

.btn-woohoo:focus, .btn-woohoo.focus {
  box-shadow: 0 0 0 0px rgba(84, 25, 113, 0.5);
}

.btn-woohoo.disabled, .btn-woohoo:disabled {
  background-color: #71398d;
  border-color: #71398d;
}

.btn-woohoo:active, .btn-woohoo.active,
.show > .btn-woohoo.dropdown-toggle {
  background-color: #391c47;
  background-image: none;
  border-color: #391c47;
}

.bg-woohoo{
  background-color: #541971 !important;
}

.text-vetical{
    width: 1px;
    word-wrap: break-word;
    font-family: monospace; 
    white-space: pre-wrap;

}

.navbar-brand img{
  max-width: 220px;
}

.img-circle{
  border-radius: 50%;
}

.img-cnh{
  /*max-height: 75vh !important;*/
  max-width: 100% !important;

}

.input-search{
  border-radius: 0.25rem 0px 0px 0.25rem;
  /*width: 600px;*/

  display: block;
  width: calc(100% - 120px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: ;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-search{
  width: 120px;
  border-radius: 0px 5px 5px 0px;
}

.form-search label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0;
  }
  .form-search .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
  }
  .form-search .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-search .form-control-plaintext {
    display: inline-block;
  }
  .form-search .input-group {
    width: auto;
  }
  .form-search .form-check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    padding-left: 0;
  }
  .form-search .form-check-input {
    position: relative;
    margin-top: 0;
    margin-right: 0.25rem;
    margin-left: 0;
  }
  .form-search .custom-control {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .form-search .custom-control-label {
    margin-bottom: 0;
  }

  .navbar-scroll{
    overflow-y: auto;
    scrollbar-base-color: #C0C0C0;
    scrollbar-base-color: #C0C0C0;
    scrollbar-3dlight-color: #C0C0C0;
    scrollbar-highlight-color: #C0C0C0;
    scrollbar-track-color: #EBEBEB;
    scrollbar-arrow-color: black;
    scrollbar-shadow-color: #C0C0C0;
    scrollbar-dark-shadow-color: #C0C0C0;

  }

.navbar-scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #343a40;
}

.navbar-scroll::-webkit-scrollbar
{
  width: 12px;
  background-color: #343a40;
}

.navbar-scroll::-webkit-scrollbar-thumb
{
/*  border-radius: 10px;*/
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #F5F5F5;
 right: -10px;
}

#sidenavToggler{
  padding: 5px;
  color: #868e96;
}

.loading{
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0, 0.5);
  z-index: 1060;
  position: fixed;
}

.modal {
  top: 38px !important;
}

.loading img{
  position: fixed;
  height: 80px;
  width 80px;
  margin-left: -40px;
  left: 50%;
  margin-top: -40px;
  top: 50vh;
}

.table{
  width: 100% !important;
}

.table-responsive{
  padding: 0;
  margin: 0;
}

#error{
  text-align: left !important;
  justify-content: flex-start;
  }

  .trajetoIcone{
    font-size: 30px;
  }

.borda-card{
  border-color: #6c757d!important;
  border: 1px solid;
}


@media (max-width: 961px) { 

  #products-table{
    min-width: 1300px;
  }


  #sidenavToggler{
    display: none;
  }

  .input-search{
    width: calc(100% - 50px) !important;
  }

  .btn-search{
      width: 50px !important;
  }

  .d-search{
    display: none;
  }

  .table-col{
    min-width: 50%;
  }

  .dtr-details li{
    list-style: none;
  }

  .dtr-details li .colTitle{
    display: none;
  }

  .Prioridade-tabel{
    min-width: 90px !important;
  }

}